
.container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-align: center;
}

.leftdiv{
    font-weight: 300;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 45%;
    border: 1px dotted red ;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
    list-style-type: decimal;
}

.rightdiv{
    font-weight: 300;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 45%;
    border: 1px dotted red ;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

h3{
    font-weight: 500;
}
.lastdiv{
    font-weight: 300;
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
}

a:link{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

.backtotop{
    font-weight: 300;
    float: right;
}

