
#PagesBody{
	background-color: #c2e0df;
}

#SubjectPictire{ 
	padding: 0;
	top:0; 
	left:0; 
	width: 120px;
    height: 120px;
	border-radius: 100px;
	float: left;
} 
header{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: azure;
  width: 100%;
  height: auto;
  background-color: rgb(99, 0, 99);
  padding: 20px;
  text-align: center;
  font-size:150%;

}

.containerone{
  margin-bottom: 190px;
}
#TerraconPicture{
	width: 100%;
	height: auto;
}
#TablePicture{
	width: 100%;
	height: auto;
}
#FirstPicture{
	width: 100%;
	height: auto;
}
#FirstPicture1{
	width: 100%;
	height: auto;
}
#SecondPicture{
	width: 100%;
	height: auto;
}
#SecondPicture1{
	width: 100%;
	height: auto;
}
#SubjectNameHobbiesPage{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: #2c1132;
}

#SubjectNameHobbiesPage1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: #2c1132;
}
.hobbiesgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.grid-item{
    background-color: aqua;
    border: 1px solid #9c44ac ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 5PX;
}
h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	font-weight: 500;
    color: #2c1132;
	font-size: 24pt;
}

figcaption{
	font-weight: 500;
    color: #2c1132;
	font-size: 18pt;
}
footer{
    font-family:  'Itim', 'Aboreto', Arial, sans-serif;
    background-color: rgb(99, 0, 99);    
    padding: 20px;
    color: #80ccc8;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
	text-align: center;
}
footer a{
	background-color: #80ccc8;
    text-decoration: none;
    color: #2c1132;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    }
#SendMessegeBotton{
	box-shadow: 0 4px 8px 0 rgb(252, 255, 78);
}
footer a:hover{
    text-decoration: underline;}
